h2 { 
	color: red;
}

.subtitle {
	color: blue;
}

#contact-us{
	color: green;
}

li:first-child{
	color: steelblue;
}
li:last-child{
	color: plum;
}
li:nth-child(2){
	color: darkgreen;
}

#rcos-link:link {

}

#rcos-link:visited{

}